body {
    background: yellow;
    font-size: 20px;
}
h1 {
    font-size: 28px;
    color: red;
    text-align: center;
    margin-top: 30px;
    font-family: arial;
}
ol {
    font-size: 24px;
    color: blue;
    line-height: 30px;
}